.container-header {
    max-width: 1000px;
    padding: 0 10px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.container-header p {
    font-size: 1.5rem;
}

.header-input {
    flex: 1 1 auto;
    position: relative;
    order: 1;
}

.header-input input {
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.clear {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

@media (any-hover: hover) {
    .clear:hover {
        opacity: 0.8;
    }
}

.header-activ {
    display: flex;
    align-items: center;
    gap: 5px;
    order: 2;
}

.loginButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px 20px; */
    font-size: 2rem !important;
    /* color: #fff; */
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginButton:hover {
    color: #0056b3;
}

.logo {
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 0;
}

.logo img {
    object-fit: contain;
    width: 100%;
    max-width: 100px;
}

@media (max-width: 734px) {
    .header-activ {
        order: 1;
    }

    .header-input {
        order: 2;
    }
}