.modal {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    transition: all;
}

.modal img {
    width: 50px;
}